USE [master]
GO
/****** Object:  Database [QuanLyNhanSu_K235480106072]    Script Date: 2/05/2026 10:51:46 PM ******/
CREATE DATABASE [QuanLyNhanSu_K235480106072]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhanSu_K235480106072', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyNhanSu_K235480106072.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhanSu_K235480106072_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyNhanSu_K235480106072_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhanSu_K235480106072].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhanSu_K235480106072]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhThueThuNhap]    Script Date: 2/05/2026 10:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhThueThuNhap](@Luong MONEY)
RETURNS @Thue TABLE (ThuNhapTungMuc MONEY, ThueMuc MONEY)
AS
BEGIN
    /* Thu nhập tới 5 mil: 5% */
    IF @Luong <= 5000000
        INSERT @Thue VALUES (@Luong, @Luong * 0.05);
    ELSE
    BEGIN
        INSERT @Thue VALUES (5000000, 5000000 * 0.05);
        /* Phần còn lại: 10% */
        INSERT @Thue VALUES (@Luong - 5000000, (@Luong - 5000000) * 0.10);
    END
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTuoi]    Script Date: 2/05/2026 10:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhTuoi](@NgaySinh DATE)
RETURNS INT
AS
BEGIN
    RETURN DATEDIFF(YEAR, @NgaySinh, GETDATE())
           - CASE 
                WHEN MONTH(@NgaySinh) > MONTH(GETDATE())
                  OR (MONTH(@NgaySinh) = MONTH(GETDATE())
                      AND DAY(@NgaySinh) > DAY(GETDATE())) THEN 1 
                ELSE 0 
             END;
END;
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 2/05/2026 10:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[MaPhong] [int] NOT NULL,
	[Email] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_NhanVienTheoPhong]    Script Date: 2/05/2026 10:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_NhanVienTheoPhong](@MaPhong INT)
RETURNS TABLE
AS
RETURN
SELECT  [MaNV], [HoTen], [NgaySinh]
FROM    dbo.[NhanVien]
WHERE   [MaPhong] = @MaPhong;
GO
/****** Object:  Table [dbo].[LuongThang]    Script Date: 2/05/2026 10:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongThang](
	[MaLuong] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NOT NULL,
	[Thang] [date] NOT NULL,
	[Luong] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongXepLoai]    Script Date: 2/05/2026 10:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongXepLoai](
	[MaNV] [int] NOT NULL,
	[Thang] [date] NOT NULL,
	[LuongGop] [money] NOT NULL,
	[Thue] [money] NOT NULL,
	[LuongNet] [money] NOT NULL,
	[XepLoai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[Thang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 2/05/2026 10:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPhong] [int] NOT NULL,
	[TenPhong] [nvarchar](100) NOT NULL,
	[SoLuongNhanVien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LuongThang] ON 

INSERT [dbo].[LuongThang] ([MaLuong], [MaNV], [Thang], [Luong]) VALUES (1, 1, CAST(N'2026-05-01' AS Date), 10000000.0000)
INSERT [dbo].[LuongThang] ([MaLuong], [MaNV], [Thang], [Luong]) VALUES (2, 2, CAST(N'2026-05-01' AS Date), 12000000.0000)
INSERT [dbo].[LuongThang] ([MaLuong], [MaNV], [Thang], [Luong]) VALUES (3, 3, CAST(N'2026-05-01' AS Date), 11000000.0000)
SET IDENTITY_INSERT [dbo].[LuongThang] OFF
GO
INSERT [dbo].[LuongXepLoai] ([MaNV], [Thang], [LuongGop], [Thue], [LuongNet], [XepLoai]) VALUES (1, CAST(N'2026-05-01' AS Date), 10000000.0000, 750000.0000, 9250000.0000, N'Trung bình')
INSERT [dbo].[LuongXepLoai] ([MaNV], [Thang], [LuongGop], [Thue], [LuongNet], [XepLoai]) VALUES (2, CAST(N'2026-05-01' AS Date), 12000000.0000, 1050000.0000, 10950000.0000, N'Cao')
INSERT [dbo].[LuongXepLoai] ([MaNV], [Thang], [LuongGop], [Thue], [LuongNet], [XepLoai]) VALUES (3, CAST(N'2026-05-01' AS Date), 11000000.0000, 900000.0000, 10100000.0000, N'Trung bình')
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [MaPhong], [Email]) VALUES (1, N'Nguyen Van A', CAST(N'1990-01-15' AS Date), 1, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [MaPhong], [Email]) VALUES (2, N'Le Thi B', CAST(N'1992-05-20' AS Date), 2, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [MaPhong], [Email]) VALUES (3, N'Tran Van C', CAST(N'1988-09-30' AS Date), 3, NULL)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
INSERT [dbo].[PhongBan] ([MaPhong], [TenPhong], [SoLuongNhanVien]) VALUES (1, N'Phòng Kỹ Thuật', 0)
INSERT [dbo].[PhongBan] ([MaPhong], [TenPhong], [SoLuongNhanVien]) VALUES (2, N'Phòng Kế Toán', 0)
INSERT [dbo].[PhongBan] ([MaPhong], [TenPhong], [SoLuongNhanVien]) VALUES (3, N'Phòng Nhân Sự', 0)
GO
ALTER TABLE [dbo].[PhongBan] ADD  DEFAULT ((0)) FOR [SoLuongNhanVien]
GO
ALTER TABLE [dbo].[LuongThang]  WITH CHECK ADD  CONSTRAINT [FK_Luong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LuongThang] CHECK CONSTRAINT [FK_Luong_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_PhongBan] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongBan] ([MaPhong])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_PhongBan]
GO
ALTER TABLE [dbo].[LuongThang]  WITH CHECK ADD  CONSTRAINT [CK_Luong_Positive] CHECK  (([Luong]>(0)))
GO
ALTER TABLE [dbo].[LuongThang] CHECK CONSTRAINT [CK_Luong_Positive]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK_NgaySinh] CHECK  (([NgaySinh]<getdate()))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_NgaySinh]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoNhanSu]    Script Date: 2/05/2026 10:51:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BaoCaoNhanSu]
    @Thang DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        pb.[TenPhong],
        nv.[HoTen],
        dbo.fn_TinhTuoi(nv.[NgaySinh]) AS [Tuoi],
        lt.[Luong]
    FROM dbo.[PhongBan] pb
    JOIN dbo.[NhanVien] nv ON pb.[MaPhong] = nv.[MaPhong]
    JOIN dbo.[LuongThang] lt ON nv.[MaNV] = lt.[MaNV]
    WHERE MONTH(lt.[Thang]) = MONTH(@Thang) AND YEAR(lt.[Thang]) = YEAR(@Thang)
    ORDER BY pb.[TenPhong], lt.[Luong] DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemNhanVien]    Script Date: 2/05/2026 10:51:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemNhanVien]
    @HoTen      NVARCHAR(100),
    @NgaySinh   DATE,
    @MaPhong    INT
AS
BEGIN
    SET NOCOUNT ON;

    /* Kiểm tra phòng ban tồn tại */
    IF NOT EXISTS (SELECT 1 FROM dbo.[PhongBan] WHERE [MaPhong] = @MaPhong)
    BEGIN
        RAISERROR (N'Phòng ban không tồn tại.', 16, 1);
        RETURN;
    END;

    INSERT INTO dbo.[NhanVien] ([HoTen], [NgaySinh], [MaPhong])
    VALUES (@HoTen, @NgaySinh, @MaPhong);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TongQuyLuong]    Script Date: 2/05/2026 10:51:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TongQuyLuong]
    @Thang      DATE,
    @TongLuong  MONEY OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @TongLuong = SUM([Luong])
    FROM dbo.[LuongThang]
    WHERE MONTH([Thang]) = MONTH(@Thang) AND YEAR([Thang]) = YEAR(@Thang);
    
    -- Nếu không có dữ liệu, gán bằng 0
    SET @TongLuong = ISNULL(@TongLuong, 0);
END;
GO
/****** Object:  Trigger [dbo].[trg_CapNhatSiSo]    Script Date: 2/05/2026 10:51:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatSiSo]
ON [dbo].[NhanVien]
AFTER INSERT, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Tăng số lượng cho phòng vừa có nhân viên mới
    IF EXISTS(SELECT 1 FROM inserted)
    BEGIN
        UPDATE pb
        SET pb.[SoLuongNhanVien] = pb.[SoLuongNhanVien] + 
            (SELECT COUNT(*) FROM inserted i WHERE i.[MaPhong] = pb.[MaPhong])
        FROM dbo.[PhongBan] pb
        JOIN inserted i ON pb.[MaPhong] = i.[MaPhong];
    END

    -- Giảm số lượng cho phòng vừa bị xóa nhân viên
    IF EXISTS(SELECT 1 FROM deleted)
    BEGIN
        UPDATE pb
        SET pb.[SoLuongNhanVien] = pb.[SoLuongNhanVien] - 
            (SELECT COUNT(*) FROM deleted d WHERE d.[MaPhong] = pb.[MaPhong])
        FROM dbo.[PhongBan] pb
        JOIN deleted d ON pb.[MaPhong] = d.[MaPhong];
    END
END;
GO
ALTER TABLE [dbo].[NhanVien] ENABLE TRIGGER [trg_CapNhatSiSo]
GO
/****** Object:  Trigger [dbo].[trg_NhanVien_CapNhatSiSo]    Script Date: 2/05/2026 10:51:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- TRIGGER B: NhanVien → PhongBan
-- Tính lại SoLuongNhanVien sau mọi thay đổi NV
-- =============================================
CREATE TRIGGER [dbo].[trg_NhanVien_CapNhatSiSo]
ON [dbo].[NhanVien]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Gộp danh sách MaPhong bị ảnh hưởng từ cả inserted lẫn deleted
    DECLARE @AffectedPhong TABLE ([MaPhong] INT);

    INSERT INTO @AffectedPhong
    SELECT [MaPhong] FROM inserted
    UNION
    SELECT [MaPhong] FROM deleted;

    -- Cập nhật lại đếm thực tế từ bảng NhanVien
    UPDATE pb
    SET pb.[SoLuongNhanVien] = (
        SELECT COUNT(*)
        FROM dbo.[NhanVien] nv
        WHERE nv.[MaPhong] = pb.[MaPhong]
    )
    FROM dbo.[PhongBan] pb
    WHERE pb.[MaPhong] IN (SELECT [MaPhong] FROM @AffectedPhong);
END;
GO
ALTER TABLE [dbo].[NhanVien] ENABLE TRIGGER [trg_NhanVien_CapNhatSiSo]
GO
/****** Object:  Trigger [dbo].[trg_PhongBan_UpdateNhanVien]    Script Date: 2/05/2026 10:51:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- TRIGGER A: PhongBan → NhanVien
-- Khi SoLuongNhanVien = 0, chuyển NV về phòng 1
-- =============================================
CREATE TRIGGER [dbo].[trg_PhongBan_UpdateNhanVien]
ON [dbo].[PhongBan]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Chỉ xử lý khi SoLuongNhanVien bị cập nhật về 0
    IF UPDATE([SoLuongNhanVien])
    BEGIN
        UPDATE dbo.[NhanVien]
        SET [MaPhong] = 1           -- chuyển về phòng mặc định (MaPhong = 1)
        WHERE [MaPhong] IN (
            SELECT i.[MaPhong]
            FROM inserted  i
            JOIN deleted   d ON i.[MaPhong] = d.[MaPhong]
            WHERE i.[SoLuongNhanVien] = 0
              AND d.[SoLuongNhanVien] > 0  -- chỉ khi vừa giảm về 0
        );
    END
END;
GO
ALTER TABLE [dbo].[PhongBan] ENABLE TRIGGER [trg_PhongBan_UpdateNhanVien]
GO
USE [master]
GO
